@keyframes FadeUp {
    from {
        opacity: 0;
        transform: translateY(80px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}
















.fadeUp {
    animation: FadeUp 1s backwards;
}