#mainTopic {
    width: 70%;
    justify-self: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
}


#mainTopic h1 {
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 50px;
    color: #CFCFCF;
    letter-spacing: 0.5px;
}

#mainTopic span {
    display: inline-block;
    font-size: 1.2rem;
    color: #555;
    background-color: rgba(12, 171, 179, 0.1);
    padding: 6px 12px;
    border-radius: 20px;
    font-weight: 500;
    letter-spacing: 0.5px;
    transition: all 0.3s ease;
}

#mainTopic span:hover {
    background-color: rgba(12, 171, 179, 0.2);
    color: #0cabB3;
    cursor: default;
}


#topics-wrapper {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 90%;
    gap: 20px;
}



.topic {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 18px 22px;
    border-radius: 16px;

    background: rgba(255, 255, 255, 0.03);
    border: 1px solid rgba(255, 255, 255, 0.08);

    cursor: pointer;
    transition: all 0.25s ease;
    backdrop-filter: blur(10px);
}


.topic:hover {
    transform: translateY(-4px) scale(1.02);

    border: 1px solid rgba(12, 171, 179, 0.5);

    box-shadow:
        0 0 20px rgba(12, 171, 179, 0.2),
        0 0 40px rgba(255, 140, 60, 0.1);
}


.topic p {
    font-size: 16px;
    font-weight: 500;
    color: #DADADA;
}

@media(max-width:900px) {
    #mainTopic {
        width: 90%;
    }
}


@media(max-width:700px) {
    .topic {
        padding: 4px 14px;
    }
}

@media(max-width:500px) {
    .topic {
        padding: 4px 14px;
    }

    .topic p {
        font-size: 12px;
    }

    #mainTopic h1 {
        font-size: 22px;
    }
}


@media(max-width:400px) {

    #mainTopic h1 {
        font-size: 18px;
    }

}