#mainWhen {
    width: 70%;
    height: 100%;
    justify-self: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}

#mainWhen h1 {
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 50px;
    color: #CFCFCF;
    letter-spacing: 0.5px;
}


#mainWhen span {
    width: 250px;
    display: inline-block;
    font-size: 1.2rem;
    color: #555;
    background-color: rgba(12, 171, 179, 0.1);
    padding: 6px 12px;
    border-radius: 20px;
    font-weight: 500;
    letter-spacing: 0.5px;
    transition: all 0.3s ease;
}

#mainWhen span:hover {
    background-color: rgba(12, 171, 179, 0.2);
    color: #0cabB3;
    cursor: default;
}


#times-wrapper {
    margin-top: 30px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;

}


.time {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 18px 22px;
    border-radius: 16px;

    background: rgba(255, 255, 255, 0.03);
    border: 1px solid rgba(255, 255, 255, 0.08);

    cursor: pointer;
    transition: all 0.25s ease;
    backdrop-filter: blur(10px);
}

.time:hover {
    transform: translateY(-4px) scale(1.02);

    border: 1px solid rgba(12, 171, 179, 0.5);

    box-shadow:
        0 0 20px rgba(12, 171, 179, 0.2),
        0 0 40px rgba(255, 140, 60, 0.1);
}


.time p {
    font-size: 16px;
    font-weight: 500;
    color: #DADADA;
}


@media(max-width:800px) {

    #mainWhen {
        width: 90%;
    }



    .time {
        width: 100%;
        padding: 6px 18px;
    }
}

@media(max-width:400px) {

    #mainWhen h1 {
        font-size: 1.3rem;
    }



    #mainWhen span {
        width: 200px;
        font-size: 0.9rem;
    }

}